body {
    margin: 0;
    background: linear-gradient(to top, #001f3f, pink);
}
h1{
    text-align: center;
}

.base{
    min-height: 100vh;

}
.container{
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 3em auto;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 1em;
}

.scores{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 1em;
    background-color: black;
}

#score-left-pc, #score-right-player{
    width: 10%;
    padding: 1em;
    text-align: center;
    border: 1px solid gray;
    border-radius: 1em;
    background-color: black;
    color: wheat;
}
#rock, #paper, #scissors{
    border: 1px solid grey;
    border-radius: 1em;
}




.choices{
    position: relative;
    margin: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1em;
}

.reset{
    margin: 0 auto;
}

footer{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}


model-viewer:hover{
    filter: brightness(80%);
    transform: scale(1.1); /* You can adjust the scale factor as needed */
}
model-viewer{
    max-width: 20vw;
    min-width: 150px;
}

.credit{
    font:300 10px Arial ;
    width: 80%;
    margin: 0 auto;
}

.choice-marker-pc, .choice-marker-player {

    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 1em;
    padding: 1em;
    min-width:22%; 
    color: whitesmoke;
    text-align: center;
}

