body{
    background-image: url(pattern.jpg);
    background-size:20em;
}

h1{
    text-align: center;
}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 1em;
}

.scores{
    text-align: center;
}

.rock{
    background-image: url(rock.jpg);
    border-radius: 12px;
    width: 7em;
    height: 7em;
    background-size: cover;
    border: none;
    

}


.paper{
    background-image: url(paper.jpg);
    width: 7em;
    height: 7em;
    background-size: cover;
    border: none;

}


.scissors{
    background-image: url(scissors.jpg);
    width: 7em;
    height: 7em;
    background-size:cover;
    border: none;


}


.choices{
    display: flex;
    justify-content: center;
    padding:2em 2em;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
    
}

.reset{

    margin: 0 auto;
}

footer{
    height: 3em;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}